<div style="width:80%; margin-left:10%">
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-mdb-ride="carousel" data-mdb-carousel-init>
        <div class="carousel-indicators">
          {% for i, row in copyright_images.iterrows() %}
            {% if i == 0 %}
              <button
                type="button"
                data-mdb-target="#carouselExampleIndicators"
                data-mdb-slide-to="{{i}}"
                aria-current="true"
                aria-label="Slide {{i+1}}"
                class="active"
              ></button>
            {% else %}
              <button
                type="button"
                data-mdb-target="#carouselExampleIndicators"
                data-mdb-slide-to="{{i}}"
                aria-current="true"
                aria-label="Slide {{i+1}}"
              ></button>
            {% endif %}
          {% endfor %}
        </div>
        <div class="carousel-inner" style="height: 90vh">

          {% for i, row in copyright_images.iterrows() %}
            {% if i == 0 %}
              <div class="carousel-item active">
                <img src="static/carousel/{{row[0]}}" class="" alt="&copy {{row[1]}}" style="width: 100%; height: 90vh; object-fit: cover; object-position: center"/>
            {% else %}
              <div class="carousel-item">
                <img src="static/carousel/{{row[0]}}" class="" alt="&copy {{row[1]}}" style="width: 100%; height: 90vh; object-fit: cover; object-position: center"/>
            {% endif %}
                <div class="carousel-caption d-none d-md-block col-3 offset-7">
                    {% if row[1] != "" %}
                        <h4 style="float:right; font-family: Monotype Corsiva, serif;">&copy {{row[1]}}</h4>
                    {% endif %}
                </div>
              </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">CaTRAT: An AI-based tool for species segregation</h5>
        <p class="card-text">
          CaTRAT is an Artificial Intelligence-based species segregation tool that leverages a deep learning-based object detector. Specifically, the YOLO-v5 object detector model is trained using over 1 million camera trap images acquired from all over India. The model can detect the presence of an animal, human or a vehicle and is capable of classifying the detected animal into one of 95 known species. The training data was curated with the help of MegaDetector for automated bounding boxes annotations and species labels manually annotated by experts. <br />
        </p>
        <a role="button" class="btn btn-danger btn-rounded col-4 offset-4" href="/try">Try it yourself</a>
      </div>
    </div>
</div>