<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-mdb-ride="carousel" data-mdb-carousel-init>
    <div class="carousel-indicators">
      {% for i, image in images.items() %}
        {% if i == 0 %}
          <button
            type="button"
            data-mdb-target="#carouselExampleIndicators"
            data-mdb-slide-to="{{i}}"
            aria-current="true"
            aria-label="Slide {{i+1}}"
            class="active"
          ></button>
        {% else %}
          <button
            type="button"
            data-mdb-target="#carouselExampleIndicators"
            data-mdb-slide-to="{{i}}"
            aria-current="true"
            aria-label="Slide {{i+1}}"
          ></button>
        {% endif %}
      {% endfor %}
    </div>
    <div class="carousel-inner" style="height: 90vh">

      {% for i, image in images.items() %}
        {% if i == 0 %}
          <div class="carousel-item active">
            <img src="{{image}}" class="" alt="Wild Landscape" style="width: 100%"/>
          </div>
        {% else %}
          <div class="carousel-item">
            <img src="{{image}}" class="" alt="Wild Landscape" style="width: 100%"/>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<div class="card" style="width:75%; margin-left:12.5%">
  <div class="card-body">
    <h5 class="card-title">CaTRAT: AI tool for species segregation</h5>
    <p class="card-text">
      CaTRAT is an Artificial Intelligence-based species segregation tool that leverages a deep learning-based object detector. Specifically, we train the YOLO-v5 object detector using approximately 1.27 million camera trap images acquired from all over India to detect the presence of an object and to classify the detected object into one of the 98 known species found in Indian landscapes. To semi-automate this process MegaDetector was used to automatically find objects in the images. Experts then reviewed these detected objects and provided the correct species labels. <br />
    </p>
    <a role="button" class="btn btn-danger btn-rounded" href="/try">Try it yourself</a>
  </div>
</div>