<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      data-mdb-collapse-init
      class="navbar-toggler"
      type="button"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="/">
        <img
          src="static/CaTRAT-logo.svg"
          alt="Logo"
          loading="lazy"
          height="50"
        />
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Team</a>
        </li>
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">About Us</a>-->
<!--        </li>-->
        <li>

      <!-- Notifications -->
      <div class="nav-item dropdown">
        <a
          data-mdb-dropdown-init
          class="nav-link me-3 dropdown-toggle hidden-arrow"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          aria-expanded="false"
        >
<!--          <i class="fas fa-envelope"></i> -->
          Contact Us
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <li>
            <a class="dropdown-item" href="mailto:qnq@wii.gov.in" data-mdb-tooltip-init title="Prof. Qamar Qureshi, Nodal Officer, Tiger Cell, Wildlife Institute of India">
              qnq@wii.gov.in
            </a>
          </li>
        </ul>
      </div>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <a class="navbar-brand mt-2 mt-lg-0 hover-zoom" href="https://ntca.gov.in/">
        <img
          src="static/NTCA logo.png"
          alt="Logo"
          loading="lazy"
          height="50"
        />
      </a>
      <a class="navbar-brand mt-2 mt-lg-0 hover-zoom" href="https://wii.gov.in/">
        <img
          src="static/WII Logo.jpeg"
          alt="Logo"
          loading="lazy"
          height="50"
        />
      </a>
      <a class="navbar-brand mt-2 mt-lg-0 hover-zoom" href="https://iiitd.ac.in/">
        <img
          src="static/iiitd logo.png"
          alt="Logo"
          loading="lazy"
          height="50"
        />
      </a>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->